<IfModule mod_rewrite.c>
    RewriteEngine On

    ######################################################################
    # LIBERAR TOTALMENTE A API
    # Isso permite que qualquer arquivo dentro de /public/api funcione
    ######################################################################
    RewriteRule ^public/api/ - [L]

    ######################################################################
    # BLOQUEIOS DE SEGURANÇA
    # Essas pastas não podem ser acessadas direto pelo navegador
    ######################################################################
    RewriteRule ^(app|config|views|vendor) - [F,L]

    ######################################################################
    # Impede listagem de arquivos
    ######################################################################
    Options -Indexes
</IfModule>
 