:root {
    --cor-primaria: #5cb85c; 
    --cor-borda: #e0e0e0;
    --cor-texto-principal: #333;
    --cor-texto-secundario: #888;
    --cor-borda-preta: black;
}

/* O Card */
.product-card {

    display: flex; 
    flex-direction: column;
    width: 280px; 
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
    font-family: Arial, sans-serif;
    
}

/* Figure das imagens */
.product-card__figure{

    position: relative;
    width: 100%;        /* garante que o figure ocupe todo o card */
    height: 180px;
    overflow: hidden;   /* corta excesso de zoom */
    border-radius: 8px 8px 0 0;
    margin: 0;


}

/* Imagem dos cards */
.product-card__image {
    width: 100%;
    height: 180px; 
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    display: block;
    border-radius: 8px 8px 0px 0px;
    transition: transform 0.3s ease-in-out;
}

.product-card__content {
    padding: 0.6rem;
    flex-grow: 1; /* Faz esta área crescer para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--cor-texto-secundario);
    justify-content: space-evenly;
}

.tag-item {
    border: 1px solid var(--cor-borda-preta);
    padding: 5px 5px;
    border-radius: 10px;
}

.product-card__nutrition {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.nutrition-item {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    color: var(--cor-texto-secundario);
    text-transform: uppercase;
    border: 1px solid var(--cor-borda-preta);
    border-radius: 10px;
    padding: 3px 0px;
}

.nutrition-item strong {
    font-size: 1rem;
    color: var(--cor-texto-principal);
    font-weight: 700;
}

.product-card__title {
    margin: 0;
    font-size: 1.1rem;
    color: var(--cor-texto-principal);
}

.product-card__price {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--cor-texto-principal);
}

.product-card__actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.8rem 1rem;
    
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
}

.quantity-selector__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor-texto-secundario);
}

.quantity-selector__input {
    width: 30px;
    text-align: center;
    border: none;
    border-left: 1px solid var(--cor-borda);
    border-right: 1px solid var(--cor-borda);
    padding: 0.5rem 0;
    font-size: 1rem;
}

/* Botão de adicionar */
.button.button--primary {

    background-color: white;
    color: var(--cor-primaria);
    border: solid 1px var(--cor-primaria);
    border-radius: 4px;
    padding: 0.7rem 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    transition: background-color 0.2s; 

}

.button__icon {
    fill: currentColor; /* O ícone SVG herda a cor do texto do botão (branco) */
}

/* Hover quando passar o mouse no card */

/* Sombra no card */
.product-card:hover {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.425); /* mantém seu efeito de hover */
}

/* Zoom na imagem */
.product-card:hover .product-card__image {
    transform: scale(1.09); /* zoom suave */
}

/* Botão inverte cores */
.product-card:hover .button--primary {
    background-color: var(--cor-primaria);
    color: white;
    border-color: var(--cor-primaria);
    border: none;
}